Repository awesomepowertexas/awesomepower-django-vue: changes, and which Codecov flags are due for each by the changed paths.
All: backend, web

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 100
        informational: true
      backend:
        flags:
          - backend
      web:
        flags:
          - web

flags:
  backend:
    paths:
      - backend/
  web:
    paths:
      - web/

comment: false

parsers:
  javascript:
    enable_partials: yes

Add tmate debug session after gunicorn
  .github/workflows/cypress.yml
Due: none

Force DJANGO_DEBUG to be a string
  .github/workflows/cypress.yml
Due: none

Set Codecov GitHub status only for backend and web
  codecov.yml
Due: none

Remove tmate debug session
  .github/workflows/cypress.yml
Due: none

Move Google Tag Manager ID to environment variable
  netlify.toml
  web/nuxt.config.js
Due: web

Use backend folder as root for python imports
  .vscode/settings.json
Due: none

Write out pytest tests
  .github/workflows/cypress.yml
  backend/.coveragerc
  backend/awesomepower/permissions.py
  backend/awesomepower/plans/management/commands/shell.py
  backend/awesomepower/plans/tests.py
  backend/awesomepower/plans/tests/__init__.py
  backend/awesomepower/plans/tests/test_models.py
  backend/conftest.py
  backend/restore_db_from_prod.sh
  web/static/tests/efl.html
  web/static/tests/efl.pdf
Due: backend, web

October 2020 TDU charges
  backend/awesomepower/plans/tdus.py
Due: backend

Combine test coverage percentage into one
  .github/workflows/cypress.yml
  codecov.yml
Due: none

Always allow database access when testing
  backend/awesomepower/plans/tests.py
  backend/conftest.py
Due: backend

Ignore flake8 E203
  .pre-commit-config.yaml
Due: none

Ignore set_efl_numbers for test coverage
  backend/awesomepower/plans/models.py
Due: backend

October 2020 TDU charges (#3)
  .github/workflows/cypress.yml
  .pre-commit-config.yaml
  backend/awesomepower/plans/models.py
  backend/awesomepower/plans/tdus.py
  backend/awesomepower/plans/tests.py
  backend/conftest.py
  codecov.yml
Due: backend

November 2020 TDU charges
  backend/awesomepower/plans/tdus.py
Due: backend

November 2020 TDU charges (#4)
  backend/awesomepower/plans/tdus.py
Due: backend

Add Django VS Code launch configuration
  .vscode/launch.json
Due: none

Update GitHub Action with new dev server
  .github/workflows/test.yml
  backend/awesomepower/plans/management/commands/seed.py
  backend/pytest.ini
  web/cypress/integration/landing.spec.js
  web/cypress/integration/plans.spec.js
  web/cypress/support/commands.js
Due: backend, web

Load VITE_API_BASE_URL from the environment
  web/.env
Due: web

Add $api to globalProperties
  web/src/components/Landing/ViewPlans.vue
  web/src/components/Plans/StarGroup.vue
  web/src/main.js
  web/src/pages/plans/_zip_code/index.vue
Due: web

Upgrade to Tailwind 2.0.1
  web/package.json
  web/src/components/Landing/FaqsItem.vue
  web/src/components/Landing/ViewPlans.vue
  web/src/components/Plans/PlanCard.vue
  web/src/components/_global/AppButton.vue
  web/src/components/_global/TransitionExpand.vue
  web/src/pages/index.vue
  web/src/pages/privacy.vue
  web/src/pages/terms.vue
  web/tailwind.config.js
  web/yarn.lock
Due: web

Use local vite plugin for Istanbul instrumentation
  web/package.json
  web/vite-plugin-istanbul.js
  web/vite.config.js
  web/yarn.lock
Due: web

Remove nullish coalescing operator
  web/vite-plugin-istanbul.js
Due: web

Upgrade to Tailwind 2 (#6)
  web/package.json
  web/src/components/Landing/FaqsItem.vue
  web/src/components/Landing/ViewPlans.vue
  web/src/components/Plans/PlanCard.vue
  web/src/components/_global/AppButton.vue
  web/src/components/_global/TransitionExpand.vue
  web/src/pages/index.vue
  web/src/pages/privacy.vue
  web/src/pages/terms.vue
  web/tailwind.config.js
  web/vite-plugin-istanbul.js
  web/vite.config.js
  web/yarn.lock
Due: web

Parse filter.term as an integer
  web/src/components/Landing/FaqsItem.vue
  web/src/pages/plans/_zip_code/index.vue
Due: web

Seed database on review app postdeploy
  app.json
Due: none

Remove previous data message from FAQs
  web/cypress/integration/plans.spec.js
  web/src/pages/index.vue
Due: web

Move factory-boy to packages
  backend/Pipfile
  backend/Pipfile.lock
  backend/awesomepower/plans/models.py
Due: backend

Fix term options (#7)
  app.json
  backend/Pipfile
  backend/Pipfile.lock
  backend/awesomepower/plans/models.py
  web/cypress/integration/plans.spec.js
  web/src/components/Landing/FaqsItem.vue
  web/src/pages/index.vue
  web/src/pages/plans/_zip_code/index.vue
Due: backend, web

December 2020 TDU charges
  backend/awesomepower/plans/tdus.py
Due: backend

December 2020 TDU charges (#8)
  backend/awesomepower/plans/tdus.py
Due: backend

Delete plans that won't save after PTC update
  backend/.gitignore
  backend/awesomepower/plans/management/commands/updateplans.py
Due: backend

Use globby import for global components
  web/package.json
  web/src/components/_global/AppButton.vue
  web/src/components/_global/LoadingSpinner.vue
  web/src/plugins/global-components.js
  web/vite.config.js
  web/yarn.lock
Due: web

Delete invalid plans incoming from Power To Choose (#9)
  backend/.gitignore
  backend/awesomepower/plans/management/commands/updateplans.py
  web/package.json
  web/src/components/_global/AppButton.vue
  web/src/components/_global/LoadingSpinner.vue
  web/src/plugins/global-components.js
  web/vite.config.js
  web/yarn.lock
Due: backend, web

January 2021 TDU charges
  backend/awesomepower/plans/tdus.py
Due: backend

January 2021 TDU charges (#11)
  backend/awesomepower/plans/tdus.py
Due: backend

Upgrade to Vite 2
  .github/workflows/test.yml
  netlify.toml
  web/.env
  web/cypress/integration/landing.spec.js
  web/cypress/integration/plans.spec.js
  web/package.json
  web/src/plugins/api.js
  web/src/plugins/global-components.js
  web/src/utils/index.js
  web/vite-plugin-istanbul.js
  web/vite.config.js
  web/yarn.lock
Due: web

Skip covered files in backend test coverage report
  backend/.coveragerc
Due: backend
